/*Button one*/
#button-one ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#button-one ul li{
  display: inline;
}
#button-one a{
  background: url('../images/button_small.png') no-repeat;
  width: 128px;
  height: 32px;
  display: inline-block;
  padding: .8em 1em .4em 2em;
  text-decoration: none;
  color: #ccc;
  font-family: 'Open Sans', serif;
  font-size: 80%;
  font-weight: 100;  
  position: relative;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
}
/*Button one Ends*/




/*Button two*/
#button-two ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
#button-two ul li{
  display: inline;
}
#button-two a{
  background: url('../images/button_large.png') no-repeat;
  width:          185px;
  height:         46px;
  display:        inline-block;
  margin-top:     0em;
  margin-left:    1em;
  margin-right:   -3em;
  margin-bottom:  0em;
  padding:        .8em 1em .8em 2em;
  text-decoration: none;
  color:          #ccc;
  font-family: 'Open Sans', serif;
  font-weight:    300;  
  position:       relative;
  text-shadow:    0 1px 0 rgba(0,0,0,.5);
}
/*Button two Ends*/






/*Button Three*/
#button-three{
  overflow: hidden;
  width: 100%;
}

#button-three li{
  float: left;
  margin: 0 2em 0 0;
}

#button-three a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  background: #ddd;  
  position: relative;
  z-index: 1;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  border-radius: .4em 0 0 .4em;  
}

#button-three a:hover{
  background: #abe0ef;
}

#button-three a::after{
  background: #ddd;
  content: "";
  height: 2.5em;
  margin-top: -1.25em;
  position: absolute;
  right: -1em;
  top: 50%;
  width: 2.5em;
  z-index: -1;
  border-radius: .2em;  
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(45deg);
}

#button-three a:hover::after{
  background: #abe0ef;
}

#button-three .current,
#button-three .current:hover{
  font-weight: bold;
  background: none;
}

#button-three .current::after{
  content: normal;
}
/*Button Three Ends*/






/*Button four*/
#button-four{
  overflow: hidden;
  width: 100%;
}

#button-four li{
  float: left;
  margin: 0 2em 0 0;
}

#button-four a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none; 
  position: relative;
/*  z-index: 1;*/
  border-radius: .4em 0 0 .4em;  
  
  color: #FFF;
  background: #7a9cad;
  background: -moz-linear-gradient(top, #7a9cad 0%, #5e7784 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a9cad), color-stop(100%,#5e7784));
  background: -webkit-linear-gradient(top, #7a9cad 0%,#5e7784 100%);
  background: -o-linear-gradient(top, #7a9cad 0%,#5e7784 100%);
  background: -ms-linear-gradient(top, #7a9cad 0%,#5e7784 100%);
  background: linear-gradient(to bottom, #7a9cad 0%,#5e7784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=’#7a9cad’, endColorstr=’#5e7784’,GradientType=0 );
  border-top: 1px solid #4d626d;
  border-left: 1px solid #4d626d;
  border-bottom: 1px solid #4d626d;
  box-shadow: 0px 1px 0px #98c1d7 inset;
  text-shadow: 1px 1px #00514d;
  font-family: 'Open Sans', serif;
  font-weight: 600;
}

#button-four a:hover{
  background: #abe0ef;
}

#button-four a::after{
  content: "";
  height: 2.0em;
  width:  2.0em;
  margin-top: -1.1em;
  top: 50%;
  position: absolute;
/*  right: 1.0em;*/


  z-index: -1;
  border-radius: .2em;  
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(45deg);
  
  color: #FFF;
  background: #7a9cad;
  background: -moz-linear-gradient(90deg, #7a9cad 0%, #5e7784 100%);
  background: -webkit-gradient(linear, 90deg, color-stop(0%,#7a9cad), color-stop(100%,#5e7784));
  background: -webkit-linear-gradient(90deg, #7a9cad 0%,#5e7784 100%);
  background: -o-linear-gradient(90deg, #7a9cad 0%,#5e7784 100%);
  background: -ms-linear-gradient(90deg, #7a9cad 0%,#5e7784 100%);
  background: linear-gradient(135deg, #7a9cad 0%,#5e7784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=’#7a9cad’, endColorstr=’#5e7784’,GradientType=0 );
  border: 1px solid #4d626d;
  box-shadow: 0px 1px 0px #98c1d7 inset;
  text-shadow: 1px 1px #00514d;
  font-family: 'Open Sans', serif;
  font-weight: 600;
}

#button-four a:hover::after{
  background: #abe0ef;
}

#button-four .current,
#button-four .current:hover{
  font-weight: bold;
  background: none;
}

#button-four .current::after{
  content: normal;
}
/*Button four Ends*/







/*Button five*/
#button-five{
  overflow: hidden;
  width: 50%;
}

#button-five li{
  float: left;
  margin: 0 2em 0 0;
}

#button-five a{
  padding: .3em .4em .3em 1.4em;
  float: left;
  text-decoration: none; 
  position: relative;
  z-index: 5;
  border-radius: .4em 0 0 .4em;  
  
  color: #FFF;
  background: #7a9cad;
  background: -moz-linear-gradient(top, #7a9cad 0%, #5e7784 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a9cad), color-stop(100%,#5e7784));
  background: -webkit-linear-gradient(top, #7a9cad 0%,#5e7784 100%);
  background: -o-linear-gradient(top, #7a9cad 0%,#5e7784 100%);
  background: -ms-linear-gradient(top, #7a9cad 0%,#5e7784 100%);
  background: linear-gradient(to bottom, #7a9cad 0%,#5e7784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=’#7a9cad’, endColorstr=’#5e7784’,GradientType=0 );
  border-top: 1px solid #4d626d;
  border-left: 1px solid #4d626d;
  border-bottom: 1px solid #4d626d;
  box-shadow: 0px 1px 0px #98c1d7 inset;
  text-shadow: 1px 1px #00514d;
  font-family: 'Open Sans', serif;
  font-weight: 300;
}
#button-five a:hover{
  background: #abe0ef;
}
#button-five a::after{
  content: "";
  height: 2.0em;
  width:  2.0em;
  margin-top: -1.0em; /*up or down*/
  top: 47%;           /*up or down*/
  position: absolute;
  right: -.7em;
  z-index: -5;
  border-radius: .2em;  
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .15s linear;
  -moz-transform: rotate(45deg);
  
  color: #FFF;
  background: #7a9cad;
  background: -moz-linear-gradient(90deg, #7a9cad 0%, #5e7784 100%);
  background: -webkit-gradient(linear, 90deg, color-stop(0%,#7a9cad), color-stop(100%,#5e7784));
  background: -webkit-linear-gradient(90deg, #7a9cad 0%,#5e7784 100%);
  background: -o-linear-gradient(90deg, #7a9cad 0%,#5e7784 100%);
  background: -ms-linear-gradient(90deg, #7a9cad 0%,#5e7784 100%);
  background: linear-gradient(135deg, #7a9cad 0%,#5e7784 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=’#7a9cad’, endColorstr=’#5e7784’,GradientType=0 );
  border: 1px solid #4d626d;
  box-shadow: 0px 1px 0px #98c1d7 inset;
  text-shadow: 1px 1px #00514d;
  font-family: 'Open Sans', serif;
  font-weight: 600;
}

#button-five a:hover::after{
  background: #abe0ef;
}

#button-five .current,
#button-five .current:hover{
  font-weight: bold;
  background: none;
}

#button-five .current::after{
  content: normal;
}
/*Button five Ends*/



/*Red Button*/

.button-red {
	-moz-box-shadow:inset 0px 1px 0px 0px #ad2247;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ad2247;
	box-shadow:inset 0px 1px 0px 0px #ad2247;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7f0022), color-stop(1, #70001e) );
	background:-moz-linear-gradient( center top, #7f0022 5%, #70001e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f0022', endColorstr='#70001e');
	background-color:#7f0022;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #780020;
/*  display:inline-block;*/
  color:#fafafa;
/*  font-family:arial;*/
/*  font-size:15px;*/
/*  font-weight:bold;*/
/*  padding:6px 24px;*/

	text-decoration:none;
	text-shadow:1px 1px 0px #0f0f0f;
}.button-red:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #70001e), color-stop(1, #7f0022) );
	background:-moz-linear-gradient( center top, #70001e 5%, #7f0022 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#70001e', endColorstr='#7f0022');
	background-color:#70001e;
}.button-red:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

/*Red Button Ends*/