/*HTML reset*/
html,body{
	height: 100%;
	margin: 0;
}
.float_right{
	float: right;
}
.float_left{
	float: left;
}
/*needed to cause auto expansion of container div*/
.clearboth{
	clear: both;
}
#bodywrapper{
	border: 0px dashed #F90A1F;
	width: 1800px;
	margin-right:   auto;
	margin-bottom: 	0;
	margin-left: 	auto;
	
	min-height: 100%;
	min-height: 600px;
	height: auto !important;
	height: 100%;
}


/*HTML reset Ends*/



@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/gotham_light.ttf') format('truetype');
  src: local('gothambook'), url('../fonts/gotham_light.ttf'); format('truetype'); /* For non-IE */ 
}

/*Header*/
header{
  background-image: url('../images/header_bg.jpg');
  width:1800px;
  height:508px;
}
/*Header Ends*/




/*Body*/
#body_wrapper_960{  
  width: 962px;
	margin-left: auto;
	margin-right: auto;
}
#box_first{
  width: 30%;
  padding-bottom: 55px;
  padding-left: 30px;
}
#box_second{
  width: 30%;
  padding-bottom: 55px;
}
#box_third{
  width: 30%;
  padding-bottom: 55px;
}


#client_logos{
/*  NOTE - would prefer to use :before and :after but IE 7 does not support it */
  background-image: url('../images/client_logos_bg_wide.png');
  background-repeat: repeat-x;
  width:962px;
  height:111px;
  padding-bottom: 52px;
}

#client_logos #text_container{
  padding-top: 35px;
}

#client_logos .clients{
  text-decoration: none;
  color:grey;
  font-family:'GothamBook';

	text-align: left;
	font-size: 28px;
	text-shadow: 1px 1px #fff;
  text-transform: uppercase;

  display: inline;
  text-align:center;      /* center horizontally */
  vertical-align:middle;  /* center vertically */
}

#client_logos ul{
  padding-top: 20px;
}
#client_logos ul li{
  padding-top: 20px;
  padding-left:20px;
  display: inline;
}
/*Body Ends*/



/*Footer*/
footer{
  background-image: url('../images/footer_bg.png');
  background-repeat: repeat-x;
  height:226px; 
  width:1800px;
}

#tweetbox{
  background-image: url('../images/twitter_block_n_bird.png');
  background-repeat: repeat-none;
  height:173px; 
  width:568px;
}

#tweetbox p{
  color: #FFF;
  font-family: 'Open Sans', serif;
  font-weight: 300;
}

/* Social Icon Sprite Begins */
.tkml-social-icons a {
	width: 28px;
	height: 28px;
	display: inline-block;
	background: url(../images/social_sprite.png) no-repeat;
	margin-right: 16px;
}

.tkml-social-icons a:last-child {
	margin-right: 0;
}

.tkml-social-icons .icon-facebook {
	background-position: 0 0;
}

.tkml-social-icons .icon-facebook:hover {
	background-position: 0 -29px;
}

.tkml-social-icons .icon-twitter {
	background-position: -42px 0;
}

.tkml-social-icons .icon-twitter:hover {
	background-position: -42px -29px;
}

.tkml-social-icons .icon-google {
	background-position: -84px 0;
}

.tkml-social-icons .icon-google:hover {
	background-position: -84px -29px;
}

.tkml-social-icons .icon-youtube {
	background-position: -126px 0;
}

.tkml-social-icons .icon-youtube:hover {
	background-position: -126px -29px;
}

/* Social Icon Sprite Ends */



















