/*HTML reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  color:#0d0d0d;
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*HTML reset Ends*/


@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/gotham_book.ttf') format('truetype');
  src: local('gothambook'), url('../fonts/gotham_book.ttf') format('truetype'); /* For non-IE */ 
}
@font-face {
	font-family: 'GothamBook_light';
	src: url('../fonts/gotham_light.ttf') format('truetype');
  src: local('gothambook_light'), url('../fonts/gotham_light.ttf') format('truetype'); /* For non-IE */ 
}
@font-face {
	font-family: 'GothamBook_medium';
	src: url('../fonts/gotham_medium.ttf') format('truetype');
  src: local('gothambook_medium'), url('../fonts/gotham_medium.ttf') format('truetype'); /* For non-IE */ 
}
@font-face {
	font-family: 'HelveticaNeue';
	src: url('../fonts/helvetica_bdcn.otf') format('truetype');
  src: local('helveticaneue'), url('../fonts/helvetica_bdcn.otf') format('truetype'); /* For non-IE */ 
}

.float_right{
	float: right;
}
.float_left{
	float: left;
}
/*needed to cause auto expansion of container div*/
.clearboth{
	clear: both;
}

/*frackin background*/
body{
/*  background:url('../images/main_backbround.jpg') no-repeat left top;*/
/*  background-size: 100%;*/
}

#bodywrapper{
  background:url('../images/main_backbround.jpg') no-repeat left top;
  background-size: 100%;
  
	border: 0px dashed #F90A1F;
	width: 1800px;
	margin-right:   auto;
	margin-bottom: 	0;
	margin-left: 	auto;
	
	min-height: 100%;
	min-height: 600px;
	height: auto !important;
	height: 100%;
}

/*Header*/
header{
  background-image: url('../images/header_bg.jpg');
  width:1800px;
  height:508px;
}
nav ul
{
margin-top: 30px;
/*padding: 0;*/
list-style-type: none;
text-align: center;
}

nav ul li { display: inline; }

nav ul li a
{
font: normal normal normal 1em Helvetica, sans-serif;
text-decoration: none;
/*font-weight: 600;*/
padding-left:20px;
padding-right:20px;
padding-top:13px;
padding-bottom:10px;
color: #b7b7b7;
text-shadow: 1px 1px #000;
text-transform: uppercase;
/*background-color: #036;*/
}

nav ul li a:hover
{
color: #fff;
}
/*Header Ends*/




/*Body*/
#body_wrapper_960{  
  width: 962px;
	margin-left: auto;
	margin-right: auto;
}
#banner{
  border-top:     1px solid #999;
  border-bottom:  1px solid #999;
  text-align: center;
  vertical-align: middle;
  height:50px;
  line-height:50px;
}
#banner ul{
  margin: .4em;
  padding: 0;
  list-style-type: none;
}
#banner ul li{
  color:#303030;
  text-decoration: none;
	font-size: 28px;
  display: inline;
  padding-top:    .1em;
  padding-right:  .1em;
  padding-bottom: .1em;
  padding-left:   .1em;
}
#banner li.one{
  font-family:'GothamBook_medium';
}
#banner li.two{
  font-family:'GothamBook_light';
}
#three_boxs h2{
  color:#303030;
  font-style: normal;
  font-family:'HelveticaNeue';
	font-size: 22px;
  display: inline;
} 
#three_boxs p{
  color:#6d6d6d;
  text-decoration: none;
  font-family:'GothamBook';
	font-size: 12px;
  display: inline;
}
#three_boxs .content{
  padding-top:    10px;
  padding-bottom: 10px;
}
#three_boxs img{
  padding-top:    35px;
  padding-bottom: 15px;
}

#box_first{
  width: 30%;
  padding-bottom: 55px;
  padding-left:   30px;
}
#box_second{
  width: 30%;
  padding-bottom: 55px;
}
#box_third{
  width: 30%;
  padding-bottom: 55px;
}


#client_logos{
/*  NOTE - would prefer to use :before and :after but IE 7 does not support it */
  background-image: url('../images/client_logos_bg_wide.png');
  background-repeat: repeat-x;
  width:962px;
  height:111px;
  padding-bottom: 52px;
}

#client_logos #text_container{
  padding-top: 35px;
}

#client_logos .clients{
  text-decoration: none;
  color:grey;
  font-family:'GothamBook';

	text-align: left;
	font-size: 28px;
	text-shadow: 1px 1px #fff;
  text-transform: uppercase;

  display: inline;
  text-align:center;      /* center horizontally */
  vertical-align:middle;  /* center vertically */
}

#client_logos ul{
  padding-top: 20px;
}
#client_logos ul li{
  padding-top: 20px;
  padding-left:20px;
  display: inline;
}
/*Body Ends*/





















